@charset "UTF-8"

 *{}
 /*Paleta de cores Monet*/
 :root {
   --cor1: #A8D3E1;
   --cor2: #C9B7DD;
   --cor3: #F2D3E2;
   --cor4: #DCECC9;
   --cor5: #F6F2E9;
   --cor6: #255C99;
 }

 /*Paleta de cores Van Gogh*/
 /*#0A3D7C*/
 /*#1B5FAF*/
 /*#F2C94C*/
 /*#F2994A*/
 /*#1b1E28*/

 /*Hibrida*/
 /*#9FC6D6*/
 /*#EAD4E8*/
 /*#F0E6D2*/
 /*#F1BD5F*/
 /**/

  @import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');

  html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
 }
 body {
    background-image: url('../quadros/fundo-monet-1.5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }
 header {
  background-color: #F6F2E9;
  padding: 20px;
 }

 header h1 {
  text-align: center;
  font-variant: small-caps;
 }
 menu {
  display: inline-block;
 }

 menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
 }
 menu > ul > li {
  display: inline;
  margin: 0 15px;
  
 }
 menu a {
  text-decoration: none;
 }
 menu a:hover {
   border: 1px solid var(--cor1);
   padding: 5px;
   transition: 0.1s;
 }
 
 main {
    height: 100vh;
    width: 100vw;
    position: relative;
 }

 section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
 }

 section.Monet  {
   background-color: #255b9934;
   padding: 10px;
   
 }
 section.Monet p {
    color: var(--cor4);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    font-variant: small-caps;
    font-style: normal;
    text-align: center;
 }
 
 footer {
      background-color: #F6F2E9;
      text-align: center;
      padding: 10px;
      
 }
 footer p {
   margin: 0px;
   padding: 0px;
   background-color: #F6F2E9;
 }
 footer a {
    text-decoration: none;
 }
 footer > p > a:hover {
   color: var(--cor2)
 }