@charset "UTF-8"

 *{}
 /*Paleta de cores Monet*/
 /*#A8D3E1*/
 /*#C9B7DD*/
 /*#F2D3E2*/
 /*#DCECC9*/
 /*#F6F2E9*/

 /*Paleta de cores Van Gogh*/
 /*#0A3D7C*/
 /*#1B5FAF*/
 /*#F2C94C*/
 /*#F2994A*/
 /*#1b1E28*/

 /*Hibrida*/
 /*#9FC6D6*/
 /*#EAD4E8*/
 /*#F0E6D2*/
 /*#F1BD5F*/
 /*#255C99*/